:root {
  --page-bg-color: #ffffff;
  --page-fg-color: #15141a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #23222b;
    --page-fg-color: #fbfbfe;
  }
}

body {
  background-color: var(--page-bg-color);
  color: var(--page-fg-color);
}

#menuitem_template {
  display: none;
}

input {
  padding-left: 0px;
  padding-right: 0px;
}

.menuitem_label {
  width: 10rem;
}

.menuitem_value {
  width: 20rem;
}

#menulist_header > div {
  display: inline-block;
}

.menuitem > img,
#menulist_header > img {
  height: 20px;
  width: auto;
  vertical-align: middle;
  cursor: pointer;
}
