body {
  padding: 4px;
}

.button {
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  padding: 0px 3px 0px 3px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #f0f0f0;
  border-color: #b6b6b3;
  border-style: solid;
  border-radius: 2px;
}

.selected:before {
  content: "✓ ";
}
