body {
  margin: 0px;
  padding: 6px 0px;
}

.button {
  margin: 0px;
  padding: 4px 10px;
}

.button > span {
  pointer-events: none;
}

.button:hover {
  background-color: #f0f0f0;
}

.check {
  display: inline-block;
  width: 20px;
}
