:root {
  --page-bg-color: #ffffff;
  --page-fg-color: #15141a;
  --menu-hover-color: #d4d4d4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #42414d;
    --page-fg-color: #fbfbfe;
    --menu-hover-color: #53525d;
  }
}

body {
  background-color: var(--page-bg-color);
  color: var(--page-fg-color);
  margin: 0px;
  padding: 6px 6px;
}

.button {
  margin: 0px;
  padding: 4px 10px;
  border-radius: 4px;
}

.button > span {
  pointer-events: none;
}

.button:hover {
  background-color: var(--menu-hover-color);
}

.check {
  display: inline-block;
  width: 20px;
}
